body {
    background-color: #000;
    font-family: "Courier";
    font-size: 18px;
    color: #FFF;
    margin: 4.5;
    padding: 4.5;
}

#bg {
    color: #333;
}

#cR {
    color: #f33;
}

#cG {
    color: #3f3;
}

#cB {
    color: #33f;
}

#cBD {
    color: #339;
}

#cY {
    color: #ff3;
}

#cY::after {
    color: #995;
}

#cC {
    color: #3ff;
}

#cCW {
    color: #79f;
}

#cM {
    color: #f3f;
}

#cMD {
    color: #939;
}

#cDesc {
    color: #ddd;
    word-wrap: break-word;
    height: 83px;
    width: 675px;
    padding: 0;
    margin: 0;
}

#item {
    border: 4px solid #333;
    display:inline-block;
    align-items: top;
    padding: 4.5px;
    margin: 4.5px;
    width: 900px;
}

#icon {
    width: 205px;
    vertical-align: top;
}

#inline {
    display: inline-block;
}

#footer {
    vertical-align: bottom;
}

#lostToTime {
    color: #f33;
}